@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.heading {
  text-align: center;
  color: white;
  font-family: 'Poppins';
  font-size: 40px;
  font-weight: bold;
}

.form-horizontal .form-group {
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 10px;
  box-sizing: border-box;
  background-color: rgb(2, 0, 33,1.3);
  border-radius: 30px;
}

.form-group {
  margin-bottom: 15px;
  padding-bottom: 24px;
  font-family: 'Poppins', sans-serif;;
  font-size: 19px;
  /* border-radius: 10px; */
  /* background-color: #FFFFFF; */
  line-height: 1.42857143;
  color: #ffffff;
}

.btn-block {
  display: block;
  width: 30%;
  margin: auto;
  box-sizing: border-box;
  line-height: 38px;
  font-size: 1.6rem;
  font-family: 'Poppins';
  font-weight: 700 !important;
  margin: 2.3rem auto !important;
  background-color:#4982F6 !important;
  white-space: nowrap;
}

.btn-block:active,
.btn-block:focus {
  box-shadow: none !important;
}

.panel {
  box-sizing: border-box;
  background-color: black !important ;
  margin-bottom: 20px;
  /* border: 1px solid #ddd; */
  border-radius: 30px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: -12px;
}
.maindiv{
  
  display: flex;
  flex-direction: column;
  background-color: white;
  width: fit-content;
  padding: 1.5em 2em;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 71%;
  max-height: 80%;
  /* max-width: 35em; */
  border-radius: 10px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  /* overflow: auto; */
  /* height: fit-content; */
}
.panel-heading {
  background-color: #f2f2f2 !important;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  padding: 10px 15px;
  padding-bottom: 0;
  /* border-radius: 30px; */
  /* border-bottom: 1px solid transparent; */
  border-bottom-color: transparent;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  color: #333;
  background-color: #020021 !important;
}

.panel-title-1 {
  white-space: nowrap;
  font-size: 20px;
  font-weight: 700;
  text-align: left !important;
  width:67px;
  margin-bottom: 0 !important;
  color:#000000;
  margin-left: 7%;
  row-gap: 0.2rem;
}

.panel-title-2 {
  font-size: 20px;
  font-weight: 700;
  text-align: left !important;
  width:50px;
  margin-bottom: 0 !important;
  margin-left: 5%;
  color:#000000;
  row-gap: 0.2rem;
}

.panel-title-3 {
  font-size: 14px;
  text-align: right !important;
  width:80%;
  margin-bottom: 0 !important;
  color:#000000;
  padding-right: 7%;
}
.panel-title-1:hover {
  cursor: pointer;
}

.panel-title-2:hover {
  cursor: pointer;
}

.label {
  padding-top: 7px;
  margin-bottom: 0;
  text-align: right;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 0px !important;
  font-weight: 700;
  font-size: 14px;
  color: white;
}

.form-control {
  height: 34px;
  font-size: 14px !important;
  /* color: #555; */
  border-left: none !important;
  margin-bottom: -12px;
  color: white;
  background-color: #020021;
}

.form-control:focus,
.form-control:active {
  outline: none !important;
  box-shadow: none !important;
  border-color: dodgerblue !important;
  box-shadow: 3px 1px 8px rgba(102, 175, 233, 0.6) !important;
  background-color: #020021;
  color: white;
}

.form-text {
  font-size: 1.5em !important;
  line-height: 0.75em !important;
  height: 34px;
  padding-left: 0.4rem !important;
  padding-right: 0.1rem !important;
  background-color: #020021 !important;
  border-right: none !important;
  color: #aaa;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group:focus-within .form-text {
  color: dodgerblue !important;
  border-color: dodgerblue !important;
  box-shadow: 1px 1px 8px rgba(102, 175, 233, 0.6);
  background-color: rgb(10, 7, 7);
  transition: none !important;
}

.input-group input::placeholder{
  color: WHITE;
}

.input-group input:-webkit-autofill {
  background-color: #020021 !important; 
  color: white; 
}

/* Optional: Firefox styling (for additional support) */
.input-group input:-moz-autofill {
  background-color: #020021 !important;
  color: white; 
}


.register-page-form-header{
  display:flex;

}

.form-footer{
  text-align: center;
  align-items: center;
}

.form-footer-input{
  border: solid 1px #D9D9D9;
  height: 20px;
  width:20px;
  margin-right: 20px;
}
.underline {
  bottom: 100px;
  left: 0;
  right: 0;
  height: 5px;
  /* background: #e3d8d8 !important; */
}
.signup_note{
  display: flex;
  border: none;
  height: 20vh !important;
  /* justify-content: center; */
  align-items: center !important;
  /* padding-top: 20px !important; */
}

@media (max-width: 1180px) {
  .panel-title-1{
  white-space: nowrap;
  font-size: 19px;
  text-align: left !important;
  width:75px;
  margin-bottom: 0 !important;
  color:#000000;
  padding-left: 0;
  row-gap: 0.2rem;
  }
  .panel-title-2 {
    font-size: 19px;
    text-align: left !important;
    width:45px;
    margin-bottom: 0 !important;
    padding-left: 0;
    color:#000000;
    row-gap: 0.2rem;
  }
  .panel-title-3 {
    font-size: 14px;
    text-align: right !important;
    width:90%;
    margin-bottom: 0 !important;
    color:#000000;
    padding-right: 7%;
  }
  .signup_note{
    height:10vh !important;
  }
}

@media (max-width: 900px) {
  .panel-title-1{
  font-size: 19px;
  text-align: left !important;
  width:75px;
  margin-bottom: 0 !important;
  color:#000000;
  padding-left: 0;
  row-gap: 0.2rem;
  }
  .panel-title-2 {
    font-size: 19px;
    text-align: left !important;
    width:43px;
    margin-bottom: 0 !important;
    padding-left: 0;
    color:#000000;
    row-gap: 0.2rem;
  }
  .panel-title-3 {
    font-size: 14px;
    text-align: right !important;
    width:70%;
    margin-bottom: 0 !important;
    color:#000000;
    padding-right: 7%;
  }
  .form-footer{
    display:flex;
  }
  .form-footer-input{
    height: 1.3rem;
    width:1.5rem;
    margin-right:10px
  }
  /* .signup_note{
    height: 5vh !important;
  } */
}
@media(min-height:600px){
  .signup_note{
    height:20vh !important;
  }
}
@media(min-height:1000px){
  .signup_note{
    height:10vh !important;
  }
}
@media(max-height:600px){
  .signup_note{
    height:25vh !important;
  }
}
@media(max-height:400px){
  .signup_note{
    height:30vh !important;
  }
}

@media (max-width: 550px) {
  .panel-title-1{
  font-size: 16px;
  text-align: left !important;
  width:55px;
  margin-bottom: 0 !important;
  color:#000000;
  padding-left: 0;
  row-gap: 0.2rem;
  }
  .panel-title-2 {
    font-size: 17px;
    text-align: left !important;
    width:40px;
    margin-bottom: 0 !important;
    padding-left: 0;
    color:#000000;
    row-gap: 0.2rem;
  }
  .panel-title-3 {
    font-size: 14px;
    text-align: right !important;
    width:60%;
    margin-bottom: 0 !important;
    color:#000000;
    padding-right: 7%;
  }
  .form-footer-input{
    height: 1.5rem;
    width:2rem;
    margin-right:9px
  }
  .btn-block{
    width:50%
  }
  .signup_note{
    height:20vh !important;
  }
}
@media (max-width:300px) {
  .signup_note{
    height:30vh !important;
  }  
}
@media (max-width: 300px) {
  .panel-title-1{
  font-size: 16px;
  text-align: left !important;
  width:60px;
  margin-bottom: 0 !important;
  color:#000000;
  padding-left: 0;
  row-gap: 0.2rem;
  }
  .panel-title-2 {
    font-size: 17px;
    text-align: left !important;
    width:30px;
    margin-bottom: 0 !important;
    padding-left: 0;
    color:#000000;
    row-gap: 0.2rem;
  }
  .panel-title-3 {
    font-size: 14px;
    text-align: text-end;
    text-align: right !important;
    width:60%;
    margin-bottom: 0 !important;
    color:#000000;
    padding-right: 1%;
  }
}
.abc123{
  margin-bottom: -12px;
}

