@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.wrap-container {
  padding: 0px 14px !important;
}

.nav-links {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Helvetica Compressed', Arial, sans-serif;
  font-size: 130%;
  font-style: normal;
  font-weight: 900;
  line-height: 70px; /* 233.333% */
  padding-bottom: 3px;
}
.nav-links:hover {
  border-bottom: 3px solid #4982f6 !important;
}
/*
.nav-links:focus {
  /* color: #6db549 !important; *
}*/

.navbar {
  width: 100vw;
  background-color: #16171a;
  border-bottom: 3px solid #333;
}

.navbar-toggler {
  border: none;
  cursor: pointer;
  padding-right: 0;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.1em;
  border: none !important;
}

.navbar-toggler-active {
  border: none;
  cursor: pointer;
  padding-right: 0;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.1em;
}

.navbar-toggler span {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  position: absolute;
  right: 25px;
  top: 4vh;
}

.navbar-toggler-open span {
  /* background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); */
  background-image: url('../../../../public/images/icons/cross.png');
  position: absolute;
  right: 25px;
  top: 4vh;
}

.navbar-toggler:active,
.navbar-toggler:focus {
  box-shadow: none !important;
  outline: 0;
}
.mini-nav-items:hover {
  color: #4982f6;
}
.navbar-toggler-active:active,
.navbar-toggler-open:focus {
  box-shadow: none;
  outline: 0;
}

.navbar-nav {
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-items {
  box-sizing: border-box;
  margin: 0.525rem 0px !important;
  align-items: center !important;
}

.wrap-container {
  padding: 0 0 !important;
}

.nav-contain {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.mini-nav-items {
  margin: 20px 30% 4px 30%;
}
.mini-navbar-nav {
  margin-right: 20px;
  flex-direction: row;
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #1c1d21;
  padding: 2px 5px;
  border-radius: 4px;
  width: 240px;
  z-index: 100;
  list-style: none;
}

.dropdown-link {
  position: relative;
  color: white;
  margin-bottom: 0px;
  padding: 0px 10px;
  display: block;
  text-decoration: none;
  font-family: 'Helvetica Compressed', Arial, sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
  display: flex;
  align-items: center;
}
.dropdown-menu li {
  margin: 0;
  padding: 5px 1px;
}

.dropdown-menu li + li {
  border-top: 1px solid #333;
}

.dropdown-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background-color: transparent;
}

.dropdown-link:hover::after {
  background-color: #4982f6;
  height: 3px;
}

.nav-items:hover .dropdown-menu {
  display: block;
}
.nav-items .dropdown-icon {
  transition: transform 0.1s ease;
  transform: rotate(180deg);
}

.nav-items:hover .dropdown-icon,
.dropdown-menu:hover .dropdown-icon {
  transform: rotate(0deg);
}
.outercon {
  width: 100vw;
}
@media only screen and (min-width: 776px) {
  .wrap-container {
    padding: 10px 14px 5px 0px !important;
  }
}

@media only screen and (min-width: 993px) {
  .navbar-nav {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .nav-links {
    /* padding: 0.7rem 20px; */
    margin-top: 0.7rem;
    margin: 0px 13px;
  }

  .nav-items {
    box-sizing: border-box;
    margin: 0px 0px !important;
  }
}
@media (max-width: 993px) {
  .nav-links {
    /* font-size: 16px; */
    color: #000;
    font-size: 100%;
    font-style: normal;
    font-weight: 500;
    line-height: 4vh;
    margin: 0px 5px 1px;
    border-bottom: 1px solid black;
    padding: 3px 38px 0 0;
    width: 100%;
    text-transform: none;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* padding-left: 2%; */
    font-family: 'Montserrat';
  }
  .nav-links:hover {
    border-bottom: none;
  }
  .navbar-nav {
    height: 100vh;
    align-items: flex-start;
  }
  .side {
    width: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .mini-navbar-nav {
    margin-right: 83px;
  }
  .mini-nav-items:hover {
    border-bottom: none;
  }
  .nav-links:hover {
    border-bottom: none;
  }
  .navbar-nav footer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 4.5%;
    /* align-self: center; */
  }
  .navbar-nav footer {
    padding: 0 2% 0 2%;
  }
  .navbar-nav footer img {
    padding-left: 18%;
    padding-right: 18%;
    height: 50%;
    width: 100%;
    justify-content: center;
    border-top: 2px solid white; /* First top border */
  }
  .navbar-nav footer div {
    width: 100%;
  }
  .nav-items {
    width: 100%;
    padding: 0 4% 0 2%;
  }
  .dropdown-menu {
    max-width: 70%;
  }
  .dropdown-menu li {
    width: 100%;
    /* line-height: 60px; */
  }
  .dropdown-link {
    width: 100%;
    font-size: 120%;
  }
}
@media only screen and (min-width: 1220px) {
  /* CSS styles for large desktops and monitors */
  .nav-links {
    font-size: 130%;
  }
}
.icons_lower:hover {
  color: #4982f6;
}
@media (min-width: 993px) and (max-width: 1024px) {
  .nav-links {
    font-size: 95%;
  }
}
@media (min-width: 1025px) and (max-width: 1220px) {
  .nav-links {
    font-size: 100%;
  }
}
@media (max-width: 450px) {
  .dropdown-menu {
    min-width: 80%;
  }
  .dropdown-link {
    font-size: 115%;
  }
  .navbar-nav footer img,
  .navbar-nav footer div {
    padding-left: 0%;
    padding-right: 0%;
    width: 90%;
  }
}
@media (max-width: 370px) {
  .dropdown-menu {
    min-width: 90%;
  }
  .dropdown-link {
    font-size: 110%;
  }
  .navbar-nav footer img,
  .navbar-nav footer div {
    padding-left: 0%;
    padding-right: 0%;
    width: 90%;
  }
}
@media (min-width: 630px) {
  .navbar-nav footer img,
  .navbar-nav footer div {
    width: 80%;
  }
}
/* @media (max-width: 710px) {
  .dropdown-link {
    font-size: 115%;
  }
}
@media (max-width: 690px) {
  .dropdown-link {
    font-size: 110%;
  }
}
@media (max-width: 670px) {
  .dropdown-menu {
    width: 65%;
  }
}
@media (max-width: 620px) {
  .dropdown-link {
    font-size: 105%;
  }
}
@media (max-width: 596px) {
  .dropdown-link {
    font-size: 100%;
  }
}
@media (max-width: 580px) {
  .dropdown-menu {
    width: 70%;
  }
}
@media (max-width: 540px) {
  .dropdown-menu {
    width: 75%;
  }
}
@media (max-width: 500px) {
  .side {
    width: 60% !important;
  }
  .dropdown-link {
    font-size: 95%;
  }
}
@media (max-width: 484px) {
  .dropdown-menu {
    width: 80%;
  }
  .navbar-nav footer img {
    height: 60%;
    width: 85%;
  }
  .navbar-nav footer div {
    width: 85%;
  }
}
@media (max-width: 453px) {
  .dropdown-menu {
    width: 85%;
  }
  .dropdown-link {
    font-size: 90%;
  }
}
@media (max-width: 416px) {
  .dropdown-menu {
    width: 85%;
  }
  .dropdown-link {
    font-size: 85%;
  }
  .navbar-nav footer img {
    height: 60%;
    width: 90%;
  }
  .navbar-nav footer div {
    width: 90%;
  }
}
@media (max-width: 400px) {
  .dropdown-menu {
    width: 90%;
  }
  .dropdown-link {
    font-size: 84%;
  }
}
@media (max-width: 373px) {
  .dropdown-menu {
    width: 90%;
  }
  .dropdown-link {
    font-size: 80%;
  }
  .navbar-nav footer img {
    height: 55%;
  }
}
@media (max-width: 360px) {
  .dropdown-menu {
    width: 95%;
  }
  .dropdown-link {
    font-size: 80%;
  }
}
@media (max-width: 340px) {
  .dropdown-menu {
    width: 95%;
  }
  .dropdown-link {
    font-size: 80%;
  }
} */
