.ftco_section {
  margin: 100px 200px 0 200px;

  position: relative;
}
.container {
  width: 100%;
  background-color: rgb(2,0,31);
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container {
  margin-left: auto;
  margin-right: auto;
  height: 150%;
  padding-bottom: 50px;
}
.container {
  /* position: fixed; */
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  /* background: rgba(255, 255, 255, 0.9); */
  padding: 30px 50px;
}
.maindiv {
  padding: 41px 35px;
  display: flex;
  flex-direction: row;
  border-radius: 21px;
  /* background: #fff; */
  background-color: rgb(2,0,31);
  height: 80vh;
  overflow-y: auto;
}
/* .maindiv::-webkit-scrollbar {
  width: 0px;
}

.maindiv::-webkit-scrollbar-thumb {
  background-color: #760e53;
  border-radius: 200px;
} */
.poster {
  padding: 20px;
  border-right: 1.5px solid #000;
}
.content {
  margin: 12px 0 36px 36px;
  padding: 10px;
  border-radius: 20px;
  border: 1.5px solid #000;
}
.top {
  justify-content: center;
  display: flex;
  gap: 12px;
  align-items: center;
}
.top h1 {
  color:rgba(73, 130, 246, 1);
  text-align: center;
  font-family: Poppins, sans-serif;
  /* font-size: 28px; */
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.middle {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.discription {
  color:white;
  /* color: #000; */
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.buttons {
  gap: 5rem;
  display: flex;
  padding-left: 40px;
}
.buttons a {
  border-radius: 35px;
  border: 2px solid rgba(73, 130, 246, 1)  ;
  padding: 9px 33px;
  justify-content: center;
  text-align: center;
  gap: 10px;
  font-weight: bold;
  flex-shrink: 0;
  color: white;
  text-decoration: none;
  font-family: Poppins, sans-serif;
}
.buttons a:hover{
  background-color:  rgba(73, 130, 246, 1);
  color: #fff;
}
.top p {
  /* color: #000; */
  color:white;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.bottom {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.bottom_heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 35px;
}
.hr {
  width: 200px;
  border-top: 1px solid black;
}
/*my try*/
.cardmaindiv{
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.btnclass{
  border-radius: 35px;
  border: 2px solid rgba(73, 130, 246, 1)  ;
  padding: 9px 33px;
  background-color: black;
  justify-content: center;
  text-align: center;
  gap: 10px;
  font-weight: bold;
  flex-shrink: 0;
  color: white;
  text-decoration: none;
  font-family: Poppins, sans-serif;
}
.btnclass:hover{
  background-color:  rgba(73, 130, 246, 1);
  color: #fff;
}
.cardcon{margin-top: 20px;
  width: fit-content;
  /* height: 300px; */
  padding-bottom: 20px;
  background: rgba(2, 0, 33, 1);  
  display: flex;
  gap:20px;
  color:white;
  flex-direction: column;
  border-radius: 20px;
  border: 2px solid rgb(55, 0, 128);
  justify-content: center;
  align-items: center;
}
.cardcon:hover{
  transform: scale(1.05);
}
.cardimg img{
 width:350px;
 border-top-right-radius: 20px;
 border-top-left-radius: 20px;
 object-fit: fill;
}
.formlink{
  text-decoration: none;
  color: rgb(183,112,217);
  font-weight: bold;
  font-family:Poppins, sans-serif;
}
.prizepool{
  display: flex;
  flex-direction: column;
  color: rgb(153,153,153);
  justify-content: center;
  align-items: center;
}
.formlink:hover{
  color:aqua
}
.cardbottom{
  padding: 5px;
}
.maindiv {
  overflow: auto;
}
.maindiv::-webkit-scrollbar {
  display: none; 
}
.maindiv {
  scrollbar-width: none; /* Hides the scrollbar */
}

/*my try*/
.bottom h3 {
  /* color: #760e53; */
  color: rgba(73, 130, 246, 1);
  text-align: center;
  font-family: Poppins, sans-serif;
  /* font-size: 24px; */
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
}
.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 17rem;
}
.contact_card {
  align-items: center;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.contact_card p {
  font-weight: 400;
}

@media (max-width: 1500px) {
  .container {
    padding: 20px;
  }
  .maindiv {
    padding: 20px;
  }
  .content {
    margin-left: 15px;
  }
}
@media (max-width: 1380px) {
  .contacts {
    gap: 6rem;
  }
  .hr {
    width: 150px;
  }
  .buttons {
    gap: 2.5rem;
    padding-left: 0;
  }
  .bottom_heading {
    gap: 20px;
  }
  .top h1 {
    font-size: 28px;
  }
  .bottom h3 {
    font-size: 24px;
  }
}
@media (max-width: 1230px) {
  .ftco_section {
    margin: 100px 150px 0 150px;
  }
  .poster {
    padding-left: 0;
  }
}
@media (max-width: 1111px) {
  .ftco_section {
    margin: 100px 100px 0 100px;
  }
  .hr {
    width: 125px;
  }
  .buttons {
    gap: 1.5rem;
  }
}
@media (max-width: 990px) {
  .maindiv {
    flex-direction: column;
  }
  .poster {
    border-right: none;
    border-bottom: 1.5px solid black;
    margin-bottom: 20px;
    width: 100%;
    justify-content: center;
    display: flex;
  }
}
@media (max-width: 720px) {
  .poster {
    margin-bottom: 0;
    border-bottom: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
  }
  .content {
    border: none;
  }
  .bottom {
    border-top: 2px solid black;
    padding-top: 20px;
  }
  .hr {
    width: 0;
  }
  .top {
    flex-direction: column;
  }
  .buttons {
    flex-direction: column;
  }
  .contacts {
    flex-direction: column;
    gap: 0;
    width: 100%;
    align-items: flex-start;
  }
  .contact_card{
    align-items: flex-start;
  }
}
@media (max-width: 540px) {
  .ftco_section {
    margin: 100px 50px 0 50px;
  }
}
@media (max-width: 450px) {
  .ftco_section {
    margin: 100px 30px 0 30px;
  }
}
@media (max-width: 395px) {
  .ftco_section {
    margin: 100px 11px 0 11px;
  }
}
.outermostdiv{
  width: 100vw;
  height: 100vh;
}